@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Roboto&display=swap');
@import '../utils/variables';

html {
  color: black;
  font-family: $font-primary;
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  //@include respond(md){
  //  font-size: 50%;
  //}
}