@import "../utils/variables";

.wrapper {
  display: grid;
  grid-template-areas: "header header" "board scores" "footer footer";
  grid-template-columns: minmax(60%,80%) minmax(20%,40%);
  grid-template-rows: 15% auto 5%;
  height: 100%;
}

.form-group {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
  input {
    border: 2px solid $light-green;
    border-radius: 5px;
    margin: 0 1rem 0 0;
    padding: 1rem;
    position: relative;
  }
}

.board {
  background-color: $light-green;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.5rem;
  grid-area: board;
  justify-content: space-between;
  overflow: auto;
  position: relative;
  &__panel {
    align-items: center;
    background-color: $dark-green;
    border-bottom: 2px solid $white;
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    justify-content: space-between;
    padding: 1rem 3rem;
    .player-name {
      color: $white;
      font-size: 2rem;
      letter-spacing: .8rem;
      text-transform: uppercase;
    }
  }
  &__word {
    flex: 7;
    overflow: auto;
    padding: 3rem;
  }
  &__summary {
    align-items: center;
    background-color: $dark-green;
    border-top: 2px solid $white;
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    justify-content: space-between;
    padding: 1rem 3rem;
    &__score {
      align-items: center;
      color: $white;
      display: flex;
      flex-flow: row nowrap;
      span {
        font-weight: bold;
        text-shadow: 2px -2px 2px rgba(#222,.5);
        font-size: 4rem;
        margin-left: 1rem;
      }
    }
  }
}

.word-bonus {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin-left: 2rem;
  > div {
    margin-bottom: .4rem;
  }
}

.word-sum {
  color: $white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}

.bonus {
  align-items: center;
  display: flex;
  justify-content: center;
  &__container {
    position: relative;
    input {
      left: 0;
      position: absolute;
      top: 0;
      visibility: hidden;
    }
  }
  &__button {
    border: 1px solid $white;
    border-radius: 5px;
    color: $dark-green;
    cursor: pointer;
    font-size: 1.3rem;
    margin-left: .7rem;
    outline: none;
    padding: .5rem;
    transition: transform .5s;
    &--x2 {
      background-color: $light-blue;
      opacity: .6;
    }
    &--x3 {
      background-color: $orange;
      opacity: .6;
    }
    &--x3word {
      color: $white;
      background-color: $red;
      opacity: .6;
    }
    &--x2word {
      color: $white;
      background-color: $dark-blue;
      opacity: .6;
    }
    &--scrabble {
      color: $white;
      background-color: $dark-green;
      opacity: .6;
      text-transform: uppercase;
    }
    &:hover {
      opacity: 1;
      transform: rotate(20deg);
    }
  }
}

input:checked + label[class*=bonus__button--] {
  opacity: 1;
}

.scores {
  background-color: $neutral-beige;
  border-left: 2px solid $white;
  font-size: 1.2rem;
  grid-area: scores;
  overflow-y: auto;
  padding: 1rem;
  text-align: center;
  .add-players {
    display: none;
    margin-bottom: 2rem;
    transform: translateY(-200%);
    transition: transform 1s;
    &--showed {
      display: block;
      transform: rotateY(0);
    }
  }
  .players {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    width: 100%;
    th {
      background-color: $dark-green;
      color: $white;
      padding: .7rem;
    }
    th,td {
      border: 1px solid $dark-green;
      line-height: 1.2rem;
      text-align: center;
    }
    tbody td {
      background-color: $white;
      height: 1.4rem;
      padding: .2rem;
    }
    tfoot {
      background-color: $dark-blue;
      color: $white;
      td {
        padding: .5rem;
      }
    }
  }
}

button:disabled {
  &:hover {
    transform: scale(1);
  }
}

input:disabled {
  opacity: .5;
}

.delete-word-btn {
  border: 1px solid $white;
  border-radius: 5px;
  background-color: #323232;
  cursor: pointer;
  height: 3rem;
  margin-left: .7rem;
  outline: none;
  padding: .5rem;
  transition: transform .5s;
  width: 3rem;
  &:hover {
    transform: scale(1.1);
  }
  img {
    width: 100%;
  }
}

.endGame {
  visibility: hidden;
}

.result-info {
  color: $white;
  font-size: 3rem;
}